@page
@model jQueryDatatablesRazorPage.CreateModel

@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<h4>PersonalInfo</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>

            <div class="form-group">
                <label asp-for="personalInfo.FirstName" class="control-label"></label>
                <input asp-for="personalInfo.FirstName" class="form-control" />
                <span asp-validation-for="personalInfo.FirstName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="personalInfo.LastName" class="control-label"></label>
                <input asp-for="personalInfo.LastName" class="form-control" />
                <span asp-validation-for="personalInfo.LastName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="personalInfo.DateOfBirth" class="control-label"></label>
                <input asp-for="personalInfo.DateOfBirth" class="form-control" />
                <span asp-validation-for="personalInfo.DateOfBirth" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="personalInfo.City" class="control-label"></label>
                <input asp-for="personalInfo.City" class="form-control" />
                <span asp-validation-for="personalInfo.City" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="personalInfo.Country" class="control-label"></label>
                <input asp-for="personalInfo.Country" class="form-control" />
                <span asp-validation-for="personalInfo.Country" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="personalInfo.MobileNo" class="control-label"></label>
                <input asp-for="personalInfo.MobileNo" class="form-control" />
                <span asp-validation-for="personalInfo.City" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="personalInfo.NID" class="control-label"></label>
                <input asp-for="personalInfo.NID" class="form-control" />
                <span asp-validation-for="personalInfo.NID" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="personalInfo.Email" class="control-label"></label>
                <input asp-for="personalInfo.Email" class="form-control" />
                <span asp-validation-for="personalInfo.Email" class="text-danger"></span>
            </div>

            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-page="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
